@model biz.dfch.CS.SampleIPA.StockManagement.API.Models.Products

<h1>Details</h1>
<div>
    <h4>Proodukt @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerPiece)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PricePerPiece)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeightInKg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeightInKg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>|
    <a asp-action="Index">Back to List</a>
</div>
